doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scal=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-vertical-grid.css')
    link(rel='manifest', href='/json/manifest.json')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/lircNodeJsWeb.js')
  body
    div.container-fixed.container
      div.row.row-flex.flex-4
        div.flex-1.bg-info.text-center
          h3 #{title}
      div.row.row-flex.flex-4
        each key in Object.keys(devices)
          div(id='device-'+key, class=' flex-1 btn btn-info text-center') #{devices[key].label}
      div.row.row-flex.flex-1
        div.blanko.flex-4
      div
        input#currentDevice(type='hidden', value=device)
      block deviceKeys
