extends layout

block deviceKeys

  div.row.row-flex.flex-4
    div#KEY_POWER.flex-4.btn.btn-danger.text-center 
      span.glyphicon.glyphicon-off 
    div.blanko.flex-4
    div#KEY_FUNCTION.flex-4.btn.btn-default.text-center FUNCTION

  div.row.row-flex.flex-4
    div#KEY_FOLDER_UP.flex-3.btn.btn-default.text-center FOLDER
      span.glyphicon.glyphicon-triangle-top
    div#KEY_OPTICAL.flex-3.btn.btn-default.text-center OPTICAL
    div#KEY_VOL_UP.flex-3.btn.btn-default.text-center VOL 
      span.glyphicon.glyphicon-plus

  div.row.row-flex.flex-4
    div#KEY_FOLDER_DOWN.flex-3.btn.btn-default.text-center FOLDER
      span.glyphicon.glyphicon-triangle-bottom
    div#KEY_MUTE.flex-3.btn.btn-default.text-center MUTE
    div#KEY_VOL_DOWN.flex-3.btn.btn-default.text-center VOL 
      span.glyphicon.glyphicon-minus

  div.row.row-flex.flex-4
    div#KEY_AUTO_POWER.flex-4.btn.btn-default.text-center AUTO PWR
    div#KEY_AV_SYNC.flex-4.btn.btn-default.text-center AV SYNC
    div#KEY_INFO.flex-4.btn.btn-default.text-center INFO

  div.row.row-flex.flex-4
    div.blanko.flex-4
    div#KEY_REPEAT.flex-4.btn.btn-default.text-center REPEAT
    div.blanko.flex-4
  div.row.row-flex.flex-4
    div#KEY_REWIND.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-fast-backward
    div#KEY_STOP.flex-4.btn.btn-default.text-center
      span.glyphicon.glyphicon-stop
    div#KEY_FAST_FORWARD.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-fast-forward
  div.row.row-flex.flex-4
    div.blanko.flex-4
    div#KEY_PLAY_PAUSE.flex-4.btn.btn-default.text-center
      span.glyphicon.glyphicon-play / 
      span.glyphicon.glyphicon-pause      
    div.blanko.flex-4      

  div.row.row-flex.flex-4
    div#KEY_SOUND_EFFCT.flex-4.btn.btn-default.text-center SOUND FX
    div#KEY_AUTO_VOLUME.flex-4.btn.btn-default.text-center AUTO VOL
    div#KEY_WOOFER_LEVEL.flex-4.btn.btn-default.text-center WOOFER LV

  div.row.row-flex.flex-4
    div#KEY_1.flex-4.btn.btn-default.text-center 1
    div#KEY_2.flex-4.btn.btn-default.text-center 2
    div#KEY_3.flex-4.btn.btn-default.text-center 3
  div.row.row-flex.flex-4
    div#KEY_4.flex-4.btn.btn-default.text-center 4
    div#KEY_5.flex-4.btn.btn-default.text-center 5
    div#KEY_6.flex-4.btn.btn-default.text-center 6
  div.row.row-flex.flex-4
    div#KEY_7.flex-4.btn.btn-default.text-center 7
    div#KEY_8.flex-4.btn.btn-default.text-center 8
    div#KEY_9.flex-4.btn.btn-default.text-center 9
  div.row.row-flex.flex-4
    div#KEY_DRC.flex-4.btn.btn-default.text-center DRC
    div#KEY_0.flex-4.btn.btn-default.text-center 0
    div#KEY_SLEEP.flex-4.btn.btn-default.text-center SLEEP

  div.row.row-flex.flex-1
    div.blanko.flex-4