extends layout

block deviceKeys

  div.row.row-flex.flex-4
    div#KEY_GUIDE.flex-4.btn.btn-default.text-center GUIDE
    div.blanko.flex-4
    div#KEY_POWER.flex-4.btn.btn-danger.text-center 
      span.glyphicon.glyphicon-off 

  div.row.row-flex.flex-4
    div#KEY_TV.flex-3.btn.btn-default.text-center TV
    div#KEY_AV.flex-3.btn.btn-default.text-center AV
    div#KEY_COMP.flex-3.btn.btn-default.text-center COMP
    div#KEY_HDMI.flex-3.btn.btn-default.text-center HDMI
       
  div.row.row-flex.flex-4
    div.blanko.flex-4
    div#KEY_UP.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-triangle-top
    div.blanko.flex-4
  div.row.row-flex.flex-4
    div#KEY_LEFT.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-triangle-left
    div#KEY_MENU.flex-4.btn.btn-default.text-center MENU  
    div#KEY_RIGHT.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-triangle-right
  div.row.row-flex.flex-4
    div#MACRO_soundbar_mute.flex-4.btn.btn-default.text-center MUTE
    div#KEY_DOWN.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-triangle-bottom
    div#KEY_LAST.flex-4.btn.btn-default.text-center LAST

  div.row.row-flex.flex-4
    div#KEY_VOL_UP.flex-1.btn.btn-default.text-center U
    div.blanko.flex-1
    div#MACRO_soundbar_vol_up.flex-4.btn.btn-default.text-center VOL 
      span.glyphicon.glyphicon-plus 
    div#KEY_CHAN_UP.flex-4.btn.btn-default.text-center CH 
      span.glyphicon.glyphicon-chevron-up
    div.blanko.flex-2
  div.row.row-flex.flex-4
    div#KEY_VOL_DOWN.flex-1.btn.btn-default.text-center D
    div.blanko.flex-1
    div#MACRO_soundbar_vol_down.flex-4.btn.btn-default.text-center VOL 
      span.glyphicon.glyphicon-minus 
    div#KEY_CHAN_DOWN.flex-4.btn.btn-default.text-center CH 
      span.glyphicon.glyphicon-chevron-down
    div.blanko.flex-2

  div.row.row-flex.flex-4
    div#KEY_1.flex-4.btn.btn-default.text-center 1
    div#KEY_2.flex-4.btn.btn-default.text-center 2
    div#KEY_3.flex-4.btn.btn-default.text-center 3
  div.row.row-flex.flex-4
    div#KEY_4.flex-4.btn.btn-default.text-center 4
    div#KEY_5.flex-4.btn.btn-default.text-center 5
    div#KEY_6.flex-4.btn.btn-default.text-center 6
  div.row.row-flex.flex-4
    div#KEY_7.flex-4.btn.btn-default.text-center 7
    div#KEY_8.flex-4.btn.btn-default.text-center 8
    div#KEY_9.flex-4.btn.btn-default.text-center 9
  div.row.row-flex.flex-4
    div#KEY_INPUT.flex-4.btn.btn-default.text-center INPUT
    div#KEY_0.flex-4.btn.btn-default.text-center 0
    div#KEY_DASH.flex-4.btn.btn-default.text-center 
      span.glyphicon.glyphicon-minus

  div.row.row-flex.flex-4
    div#MACRO_buzzr.flex-2.btn.btn-default.text-center Buzzr
    div#MACRO_nhk_world.flex-2.btn.btn-default.text-center NHK
    div#MACRO_chrome.flex-2.btn.btn-default.text-center Cast
    div#MACRO_aspect_ratio.flex-2.btn.btn-default.text-center VIEW
    div#MACRO_E.flex-2.btn.btn-default.text-center E

  div.row.row-flex.flex-1
    div.blanko.flex-4